{% extends "main/base_two.html" %}

{% load static %}


<!DOCTYPE html>
<html lang="ru">

{% block content %}

<title>Страница не найдена</title>


		{% comment %} <h1>404 - Страница не найдена</h1>
		<p>Извините, но страница, которую вы ищете, не существует.</p>
		<p>Вернитесь в <a href="{% url 'blog:post_list' %}">Блог</a></p> {% endcomment %}

		<div class="server__errors">
				<h1>404 - Страница не найдена</h1>
				<p>Извините, но страница, которую вы ищете, не существует.</p>
				<p>Вернуться в&nbsp;<a href="{% url 'blog:post_list' %}"><h3>Блог</h3></a></p>
		</div>

		</br>
		</br>
		{% comment %} <!-- Yandex.RTB R-A-14304836-2 -->
		<div id="yandex_rtb_R-A-14304836-2"></div>
		<script>
		window.yaContextCb.push(() => {
				Ya.Context.AdvManager.render({
						"blockId": "R-A-14304836-2",
						"renderTo": "yandex_rtb_R-A-14304836-2",
						"type": "feed"
				})
		})
		</script> {% endcomment %}
		</br>


{% endblock content %}
