{% extends "main/base_two.html" %}

{% load static %}


<!DOCTYPE html>
<html lang="ru">

{% block content %}

<title>Internal Server Error</title>

	<div class="server__errors">
				<h1>500 - Internal Server Error</h1>
				<p>Извините, внутренняя ошибка сервера.</p>
				<p>Мы занем о проблеме и уже работаем над ней.</p>
				<p>Вернуться в&nbsp;<a href="{% url 'blog:post_list' %}"><h3>Блог</h3></a></p>
	</div>


	</br>
	</br>
	<!-- Yandex.RTB R-A-14304836-2 -->
	<div id="yandex_rtb_R-A-14304836-2"></div>
	<script>
	window.yaContextCb.push(() => {
			Ya.Context.AdvManager.render({
					"blockId": "R-A-14304836-2",
					"renderTo": "yandex_rtb_R-A-14304836-2",
					"type": "feed"
			})
	})
	</script>
	</br>


{% endblock content %}