{% extends "main/base.html" %}

{% load static %}
{% load tz %}


<!DOCTYPE html>
<html lang="en">


{% block css %}
		<link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock css %}

{% block content %}
	<div class="mt-5 pt-5 bg-white custom-shadow rounded">
		<h2 class="m-2"><strong>{{ content }}</strong></h2>
		<p class="m-2">{{ text_on_page }}</p>
	</div>
{% endblock content %}

{% block footer %}
<footer class="py-4 bg-dark">
	<div class="container">
			<p class="m-0 text-center text-white">
					Copyright &copy; TonGameApp <span id="time"></span>
			</p>
	</div>
</footer>

<script>
	// time footer
	function updateTime() {
		const now = new Date();
		const options = {
				year: 'numeric',
				month: '2-digit',
				day: '2-digit',
				hour: '2-digit',
				minute: '2-digit',
				second: '2-digit',
				hour12: false // Используйте true для 12-часового формата
		};

		const formattedTime = now.toLocaleString('en-CA', options);
		document.getElementById('time').innerText = formattedTime;
	}

	// Обновляем время сразу, чтобы не ждать 1 секунду
	updateTime();

	// Обновляем время каждую секунду
	setInterval(updateTime, 1000);
	</script>
{% endblock footer %}