{% load static %}
{% load tz %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--
		- primary meta tags
	-->
	<title>{{ title }}</title>
	<meta name="title" content="{{ title }}">
	<meta name="description" content="{{ post.content|striptags|truncatechars:200 }}">
	<meta name="keywords" content="{{ post.title }}, {% for tag in post.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://gameton.app/">
	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="{{ title }}">
	<meta property="og:image" content="https://gameton.app/{% static 'deps/images/gameton_MicrosoftTeams.png' %}">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://gameton.app/">
	<meta property="twitter:title" content="{{ title }}">
	<meta property="twitter:description" content="{{ title }}">
	<meta property="twitter:image" content="https://gameton.app/{% static 'deps/images/gameton_MicrosoftTeams.png' %}">

	<!-- Favicons for different platforms -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'deps/favicon/logo-120x120.svg' %}">
	<link rel="icon" type="image/svg+xml" sizes="120x120" href="{% static 'deps/favicon/logo-120x120.svg' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/favicon-32x32.png" %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/favicon-16x16.png" %}">
	<link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}">

	<!--
		- google font link
	-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
	rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>

	<!--
		- custom css link
	-->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{% static 'deps/css/style.css' %}?v={{ css_version }}">

	<!--
			- preload images
	-->
	<link rel="preload" as="image" href="{% static "deps/images/hero-banner.png" %}">
	<link rel="preload" as="image" href="{% static "deps/images/pattern-2.svg" %}">
	<link rel="preload" as="image" href="{% static "deps/images/pattern-3.svg" %}">

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		m[i].l=1*new Date();
		for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
		k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(100071602, "init", {
				clickmap:true,
				trackLinks:true,
				accurateTrackBounce:true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/100071602" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->

	<!-- Yandex.RTB -->
	<script>window.yaContextCb=window.yaContextCb||[]</script>
	<script src="https://yandex.ru/ads/system/context.js" async></script>


</head>
<body id="top">

			{% comment %} <!-- Форма фильтров -->
			<div class="dropdown mb-2">
				<button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						Фильтры
				</button>

				<form action="" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
						<div class="form-check text-white mx-3">
								<input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on">
								<input type="hidden" name="q" value="request.GET.q">
								<label class="form-check-label" for="flexCheckDefault">
										Товары по акции
								</label>
						</div>
						<p class="text-white mx-3 mt-3">Сортировать:</p>
						<div class="form-check text-white mx-3">
								<input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" checked>
								<label class="form-check-label" for="flexRadioDefault1">
										По умолчанию
								</label>
						</div>
						<div class="form-check text-white mx-3">
								<input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price">
								<label class="form-check-label" for="flexRadioDefault2">
										От дешевых к дорогим
								</label>
						</div>
						<div class="form-check text-white mx-3">
								<input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price">
								<label class="form-check-label" for="flexRadioDefault3">
										От дорогих к дешевым
								</label>
						</div>
						<button type="submit" class="btn btn-primary mx-3 mt-3">Применить</button>
				</form>
		</div> {% endcomment %}

	<!--
		- #HEADER
	-->
	<header class="header" data-header>
		<div class="container">

			<a href="{% url "main:index" %}" class="logo">
				<img src="{% static "deps/favicon/apple-touch-icon.png" %}" width="40" height="40" alt="Игры в Telegram, Tap-to-Earn, блокчейн TON, майнинг в Telegram, криптоигры, Telegram игры">
			</a>

			<nav class="navbar" data-navbar>
				<div class="navbar-top">
					<a href="{% url "main:index" %}" class="logo">
						<img src="{% static "deps/favicon/apple-touch-icon.png" %}" width="40" height="40" alt="Игры в Telegram, Tap-to-Earn, блокчейн TON, майнинг в Telegram, криптоигры, Telegram игры">
					</a>

					<button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
						<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 15" style="fill: hsla(216, 33%, 20%, 1);transform: ;msFilter:;"><path d="M21.063 15H13v2h9v-2zM4 7h11v2H4zm0 4h11v2H4zm0 4h7v2H4z"></path></svg>
					</button>
				</div>
					<ul class="navbar-list">
						<li>
							<a href="{% url "main:index" %}" class="navbar-link hover-1" data-nav-toggler>Главная</a>
						</li>

						{% if not user.is_authenticated %}
								<li>
										<a href="{% url "user:login" %}" class="navbar-link hover-1" data-nav-toggler>Войти</a>
								</li>
						{% else %}
								<li>
									<a href="{% url "user:profile" %}" class="navbar-link hover-1">Мой профиль<i class="ri-arrow-down-s-line"></i></a>
										<ul class="subs__menu lists__blocks">
													<li>
														{% if user.is_admin or user.is_staff %}
																<a href="https://gameton.app/admin/">Админ панель</a>
														{% endif %}
													</li>
													{% comment %} <li><a href="{% url "user:profile" %}">Аккаунт</a></li> {% endcomment %}
													<li><a href="{% url "user:logout" %}">Выйти</a></li>
										</ul>
								</li>
						{% endif %}
						
						<li>
							<a href="{% url "blog:post_list" %}" class="navbar-link hover-1" data-nav-toggler>Блог</a>
						</li>

						<li>
							<a href="{% url "games:games" %}" class="navbar-link hover-1" data-nav-toggler>Игры TON</a>
						</li>

						{% comment %} <li>
							<a href="{% url "main:contact" %}" class="navbar-link hover-1" data-nav-toggler>Контакты</a>
						</li> {% endcomment %}


						{% comment %} <li>
							<a href="{% url "catalog:index" category_slug='all' %}" class="navbar-link hover-1" data-nav-toggler>Магазин</a>
						</li> {% endcomment %}

						
						<li class="li__search">
							<form class="d__flex_search" role="search" action="{% url "blog:search" %}" method="get">
								<input class="form-control me-2" type="search" name="q" placeholder="Поиск" value="{{ query }}" aria-label="Search">
								<button class="btn btn-primary" type="submit">
									<svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 15" style="fill: hsla(216, 33%, 20%, 1);transform: ;msFilter:;"><path d="M19.023 16.977a35.13 35.13 0 0 1-1.367-1.384c-.372-.378-.596-.653-.596-.653l-2.8-1.337A6.962 6.962 0 0 0 16 9c0-3.859-3.14-7-7-7S2 5.141 2 9s3.14 7 7 7c1.763 0 3.37-.66 4.603-1.739l1.337 2.8s.275.224.653.596c.387.363.896.854 1.384 1.367l1.358 1.392.604.646 2.121-2.121-.646-.604c-.379-.372-.885-.866-1.391-1.36zM9 14c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"></path></svg>
									{% comment %} <ion-icon name="search-outline"></ion-icon> {% endcomment %}
								</button>
							</form>
						</li>

					</ul>


				{% comment %} <div class="navbar-bottom">

					<div class="profile-card">
						<img src="{% static "deps/images/author-1.png" %}" width="48" height="48" alt="Steven" class="profile-banner">

						<div>
							<p class="card-title">Hello Steven!</p>

							<p class="card-subtitile">
								You have 3 new message
							</p>
						</div>
					</div>

					<ul class="link-list">
						<li>
							<a href="#" class="navbar-bottom-link hover-1">Profile</a>
						</li>

						<li>
							<a href="#" class="navbar-bottom-link hover-1">Articles Saved</a>
						</li>

						<li>
							<a href="#" class="navbar-bottom-link hover-1">Add New Post</a>
						</li>

						<li>
							<a href="#" class="navbar-bottom-link hover-1">My Likes</a>
						</li>

						<li>
							<a href="#" class="navbar-bottom-link hover-1">Account Setting</a>
						</li>

						<li>
							<a href="#" class="navbar-bottom-link hover-1">Sign Out</a>
						</li>
					</ul>

				</div> {% endcomment %}

				<div class="navbar-bottom">
					{% if user.is_authenticated %}
					<div class="profile-card">
						{% if user.image %}
								<img src="{{ user.image.url }}" alt="{{ user.username }}" class="profile-banner">
						{% else %}
								<img src="{% static "deps\images\Not found image.png" %}" width="48" height="48" alt="" class="profile-banner image_banner">
						{% endif %}

						<div>
							<p class="card-title">Привет, {{ user.first_name }} {{ user.last_name }}</p>

									<div class="coin__price__menu">
											<div class="price__coin_binance">
													<p class="card-subtitile-menu" id="ton-price">
															Загружается цена TON...
														{% comment %} You have 3 new message {% endcomment %}
													</p>
													<span class="price-change" id="ton-menu-change"></span>
											</div>
											<div class="price__coin_binance">
													<p class="card-subtitile-menu" id="bitcoin-price">
														Загружается цена BITCOIN...
													</p>
													<span class="price-change" id="bitcoin-menu-change"></span>
											</div>
											<div class="price__coin_binance">
													<p class="card-subtitile-menu" id="ethereum-price">
														Загружается цена ETHEREUM...
													</p>
													<span class="price-change" id="ethereum-menu-change"></span>
											</div>
									</div>
						</div>
					</div>

					<ul class="link-list">
						<li>
							<a href="{% url "user:profile" %}" class="navbar-bottom-link hover-1">Настройки аккаунта</a>
						</li>

						<li>
							<a href="{% url "user:logout" %}" class="navbar-bottom-link hover-1" style="color: hsla(199, 89%, 49%, 1);">Выйти</a>
						</li>
					</ul>
					{% else %}
					<li>
						<a href="{% url "user:login" %}" class="navbar-link hover-1" data-nav-toggler>Войти</a>
					</li>
				{% endif %}
				</div>

				<p class="copyright-text">Copyright &copy; GameTonApp</br><span class="time"></span></p>
			</nav>

			<a href="https://t.me/+N0QgXuwRb-RhYjYy" target="_blank" class="btn btn-primary">Subscribe</a>

			<button class="nav-open-btn" area-label="open menu" data-nav-toggler>
				{% comment %} <ion-icon name="menu-outline" aria-hidden="true"></ion-icon> {% endcomment %}
				{% comment %} <img src="{% static "deps/images/menu-add-fill.png" %}"> {% endcomment %}
				<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 15" style="fill: hsla(216, 33%, 20%, 1);transform: ;msFilter:;"><path d="M19 15v-3h-2v3h-3v2h3v3h2v-3h3v-2h-.937zM4 7h11v2H4zm0 4h11v2H4zm0 4h8v2H4z"></path></svg>
			</button>
		</div>
	</header>


	<main>
			<article>

					<section class="section recent-post" id="recent" aria-labelledby="recent-label" >
						<div class="container">

								<div class="post-main">

										{% block content %}
									
										{% endblock content %}

								</div>

								<!-- POPULAR POSTS -->

								{% comment %} <div class="post-aside grid-list">

									<div class="card aside-card">

										<h3 class="headline headline-2 aside-title">
												<span class="span">Популярное</span>
										</h3>

										<ul class="popular-list">
											{% for post in top_5_posts %}
											<li>
													<div class="popular-card">

															<figure class="card-banner img-holder" style="--width: 64; --height: 64;">
																	<img src="/media/{{ post.image }}" width="64" height="64" loading="lazy" alt="{{ post.title }}" class="img-cover">
															</figure>

															<div class="card-content">

																	<h4 class="headline headline-4 card-title">
																			<a href="{% url "blog:post_detail" post.slug %}" class="link hover-2">{{ post.title }}</a>
																	</h4>

																	<div class="wrapper">
																			<p class="card-subtitle">{{ post.reading_time }} mins read</p>

																			<time datetime="" class="puplish-date" datetime="{{ post.created_at|date:"Y-m-d" }}">{{ post.created_at|date:"d M Y" }}</time>
																	</div>

															</div>

													</div>
											</li>
											{% endfor %}

										</ul>

									</div> {% endcomment %}

									<!-- LAST COMMENT -->

									{% comment %} <div class="card aside-card">
										<h3 class="headline headline-2 aside-title">
												<span class="span">Последний комментарий</span>
										</h3> {% endcomment %}
								
										{% comment %} <ul class="comment-list">
											{% if latest_comments %}
													{% for comment in latest_comments %}
															<li>
																	<div class="comment-card">
																		<a href="{% url "blog:post_detail" comment.post.slug %}">
																			<blockquote class="card-text">
																					“{{ comment.text|truncatechars:100 }}”
																			</blockquote>
																		</a>
							
																			<div class="profile-card img__cp">
																					<figure class="profile-banner img-holder">
																							<img src="{% if comment.author_image %}{{ comment.author_image }}{% else %}{% static 'deps/images/default-avatar.png' %}{% endif %}" loading="lazy" alt="{{ comment.author }}">
																					</figure>
							
																					<div>
																							<p class="card-title">{{ comment.author }}</p> {% endcomment %}
																							{% comment %} <time datetime="{{ comment.created_at|date:'Y-m-d' }}" class="card-date">{{ comment.created_at|date:"d F Y" }}</time> {% endcomment %}
																					{% comment %} </div>
																			</div>
																	</div>
															</li>
													{% endfor %}
											{% else %}
													<li>Нет комментариев для отображения.</li>
											{% endif %}
									</ul>
								</div> {% endcomment %}

										{% comment %} <div class="card aside-card insta-card">

												<a href="#" class="logo">
														<img src="{% static "deps/images/logo.svg" %}" width="119" height="37" loading="lazy" alt="Wren logo">
												</a>

												<p class="card-text">
														Follow us on instagramss
												</p>

												<div class="hero-banner">
													{% if hero and hero.image %}
														<img src="{{ hero.image.url }}" width="327" height="490" alt="" class="w-100">
													{% else %}
														<img src="{% static "deps/images/hero-banner.png" %}" width="327" height="490" alt="" class="w-100">
													{% endif %}
												</div>

										</div> {% endcomment %}

								{% comment %} </div> {% endcomment %}

						</div>
					</section>


					<!--
						- #POPULAR TAGS ads
					-->
					<section class="tag" aria-labelledby="tag-label">
						<div class="container">
								<!-- Yandex.RTB R-A-14304836-3 Floor Ad закрепленный в нижней части сайта-->
								<script>
									window.yaContextCb.push(() => {
											Ya.Context.AdvManager.render({
													"blockId": "R-A-14304836-3",
													"type": "floorAd",
													"platform": "touch"
											})
									})
								</script>

								<!-- Yandex.RTB R-A-14304836-5 Floor Ad закрепленный в нижней части сайта десктопная версия -->
								<script>
									window.yaContextCb.push(() => {
											Ya.Context.AdvManager.render({
													"blockId": "R-A-14304836-5",
													"type": "floorAd",
													"platform": "desktop"
											})
									})
								</script>
						</div>
				</section>


			</article>
	</main>

	<!-- Модальное окно для уведомления о cookies -->
	<div id="cookieModal" class="modals__one">
		<div class="modal__content__one">
				<h2>Файлы cookie</h2>
				<p>
						для улучшения вашего опыта на нашем сайте. 
						{% comment %} Продолжая использовать сайт, вы соглашаетесь с нашей  {% endcomment %}
						{% comment %} <a href="{% url 'privacy_policy' %}">Политикой конфиденциальности</a>. {% endcomment %}
				</p>
				<div class="button_cookie">
						<button class="btn btn-primary" id="acceptCookies">Принять</button>
				</div>
		</div>
	</div>


	<!--
		- #FOOTER
	-->

{% block footer %}


{% endblock footer %}



	<!-- 
		- #BACK TO TOP
	-->
	
	<a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #7c7e8a;transform: ;msFilter:;"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"></path></svg>
	</a>


	<!--
		- custom js link
	-->
	<script src="{% static "deps/js/script/log-reg.js" %}"></script>
	<script src="{% static "deps/js/script/script-time.js" %}"></script>
	<script src="{% static "deps/js/script/script-blog.js" %}"></script>
	<script src="{% static "deps/js/script/script-mains.js" %}"></script>
	<script src="{% static "deps/js/script/script-commerce.js" %}"></script>
	<script src="{% static "deps/js/script/modal.js" %}"></script>
	<script src="{% static "deps/js/script/tonprice.js" %}"></script>
	<script src="{% static "deps/js/script/bitcoinprice.js" %}"></script>
	<script src="{% static "deps/js/script/ethereumprice.js" %}"></script>
	<script src="{% static "deps/js/script/validate_phone.js" %}"></script>

	
	<!--
		- ionicon link
	-->
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

	<!-- 
	- email js
	-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{% static "deps/js/script/script-email.js" %}"></script>

		
</body>
</html>