{% load static %}
{% load tz %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--
		- primary meta tags
	-->
	<title>{{ title }}</title>
	<meta name="title" content="TonGameApp - Блог>">
	<meta name="description" content="Telegram Tap-to-Earn Crypto Games">
	<!-- Favicons for different platforms -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/favicon/apple-touch-icon.png" %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/favicon-32x32.png" %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/favicon-16x16.png" %}">
	<link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}">

	<!--
		- google font link
	-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap"
	rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>

	<!--
		- custom css link
	-->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="{% static "deps/css/style.css" %}">


<!--
		- preload images
-->
<link rel="preload" as="image" href="{% static "deps/images/hero-banner.png" %}">
<link rel="preload" as="image" href="{% static "deps/images/pattern-2.svg" %}">
<link rel="preload" as="image" href="{% static "deps/images/pattern-3.svg" %}">


</head>
<body id="top">
	<!--
		- #HEADER
	-->
	<header class="header" data-header>
		<div class="container">

			<a href="{% url "main:index" %}" class="logo">
				<img src="{% static "deps\images\logo.svg" %}" width="119" height="37" alt="TonGameApp">
			</a>

			<nav class="navbar" data-navbar>
				<div class="navbar-top">
					<a href="{% url "main:index" %}" class="logo">
						<img src="{% static "deps\images\logo.svg" %}" width="119" height="37" alt="TonGameApp">
					</a>

					<button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
						<ion-icon name="close-outline" aria-hidden="true"></ion-icon>
					</button>
				</div>
					<ul class="navbar-list-top">
						
						<li>
							<a href="#home" class="navbar-link hover-1" data-nav-toggler>Home</a>
						</li>

						<li>
							<a href="#topics" class="navbar-link hover-1" data-nav-toggler>Topics</a>
						</li>

						<li>
							<a href="#featured" class="navbar-link hover-1" data-nav-toggler>Featured Post</a>
						</li>

						<li>
							<a href="#recent" class="navbar-link hover-1" data-nav-toggler>Recent Post</a>
						</li>

						<li>
							<a href="#contact" class="navbar-link hover-1" data-nav-toggler>Contact</a>
						</li>

						{% if not user.is_authenticated %}
								<li>
										<a href="{% url "user:login" %}" class="navbar-link hover-1" data-nav-toggler>Войти</a>
								</li>
						{% else %}
							<li>
								<a href="{% url "user:profile" %}" class="navbar-link hover-1">Мой профиль<i class="ri-arrow-down-s-line"></i></a>
									<ul class="subs__menu lists__blocks">
												<li>
													{% if user.is_admin or user.is_staff %}
															<a href="http://127.0.0.1:8000/admin/">Админ панель</a>
													{% endif %}
												</li>
												{% comment %} <li><a href="{% url "user:profile" %}">Аккаунт</a></li> {% endcomment %}
												<li><a href="{% url "user:logout" %}">Выйти</a></li>
									</ul>
							</li>
						{% endif %}

						<li class="li__search">
							<form class="d__flex_search" role="search" action="{% url "blog:search" %}" method="get">
								<input class="form-control me-2" type="search" name="q" placeholder="Поиск" value="{{ query }}" aria-label="Search">
								<button class="btn btn-primary" type="submit">
									<ion-icon name="search-outline"></ion-icon>
								</button>
							</form>
						</li>

					</ul>

				{% comment %} <div class="navbar-bottom">

					<div class="profile-card">
						<img src="{% static "deps/images/author-1.png" %}" width="48" height="48" alt="Steven" class="profile-banner">

						<div>
							<p class="card-title">Hello Steven!</p>

							<p class="card-subtitile">
								You have 3 new message
							</p>
						</div>
					</div>

					<ul class="link-list">
						<li>
							<a href="#" class="navbar-bottom-link hover-1">Profile</a>
						</li>

						<li>
							<a href="{% url "catalog:index" category_slug='all' %}" class="navbar-bottom-link hover-1">Магазин</a>
						</li>

						<li>
							<a href="#" class="navbar-bottom-link hover-1">Add New Post</a>
						</li>

						<li>
							<a href="#" class="navbar-bottom-link hover-1">My Likes</a>
						</li>

						<li>
							<a href="{% url "main:contact" %}" class="navbar-bottom-link hover-1">Контакты</a>
						</li>

						<li>
							<a href="#" class="navbar-bottom-link hover-1">Sign Out</a>
						</li>

						<li>
							<a href="{% url "blog:post_list" %}" class="navbar-bottom-link hover-1">Блог</a>
						</li>
					</ul>

				</div> {% endcomment %}

				<div class="navbar-bottom">
					{% if user.is_authenticated %}
					<div class="profile-card">
						{% if user.image %}
								<img src="{{ user.image.url }}" alt="{{ user.username }}" class="profile-banner">
						{% else %}
								<img src="{% static "deps\images\Not found image.png" %}" width="48" height="48" alt="" class="profile-banner image_banner">
						{% endif %}

						<div>
							<p class="card-title">Привет, {{ user.first_name }} {{ user.last_name }}</p>

							<p class="card-subtitile">
								You have 3 new message
							</p>
						</div>
					</div>

					<ul class="link-list">
						<li>
							<a href="{% url "user:profile" %}" class="navbar-bottom-link hover-1">Настройки аккаунта</a>
						</li>

						<li>
							<a href="{% url "user:logout" %}" class="navbar-bottom-link hover-1" style="color: hsla(199, 89%, 49%, 1);">Выйти</a>
						</li>
					</ul>
					{% else %}
					<li>
						<a href="{% url "user:login" %}" class="navbar-link hover-1" data-nav-toggler>Войти</a>
					</li>
				{% endif %}
				</div>

				<p class="copyright-text">Copyright &copy; TonGameApp</br><span class="time"></span></p>
			</nav>

			<a href="https://t.me/GameAppTon_bot" target="_blank" class="btn btn-primary">Subscribe</a>

			<button class="nav-open-btn" area-label="open menu" data-nav-toggler>
				<ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
			</button>
		</div>
	</header>

	<main>
			<article>

				<!--
					- #HERO
				-->
					<section class="hero" id="home" aria-label="home">
						<div class="container">
							
							<div class="hero-content">
										{% include "includes/notifications.html" %}
											<p class="hero-subtitle">{{ hero.subtitle }}</p>
											{% if hero %}
												<h1 class="headline headline-1 section-title">
														<a href="https://t.me/GameAppTon_bot" target="_blank">TonGameApp</a> <span class="span">{{ hero.title }}</span>
												</h1>
											{% else %}
												<h1 class="headline headline-1 section-title">
													<span class="span">Напиши что нибудь</span>
											</h1>
											{% endif %}

											<p class="hero-text">
												{{ hero.content }}
											</p>

											{% comment %} <div class="input-wrapper">

													<input type="email" name="email_address" placeholder="Type your email address" required class="input-field">

													<button class="btn btn-primary">
															<span class="span">Subscribe</span>

															<ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
													</button>

											</div> {% endcomment %}
											
									</div>

									<div class="hero-banner">
										{% if hero and hero.image %}
											<img src="{{ hero.image.url }}" width="327" height="490" alt="" class="w-100">
										{% else %}
											<img src="{% static "deps/images/hero-banner.png" %}" width="327" height="490" alt="" class="w-100">
										{% endif %}
											<img src="{% static "deps/images/pattern-2.svg" %}" width="27" height="26" alt="shape" class="shape shape-1">

											<img src="{% static "deps/images/pattern-3.svg" %}" width="27" height="26" alt="shape" class="shape shape-2">
									</div>

									<img src="{% static "deps/images/shadow-1.svg" %}" width="500" height="800" alt="" class="hero-bg hero-bg-1">

									<img src="{% static "deps/images/shadow-2.svg" %}" width="500" height="500" alt="" class="hero-bg hero-bg-2">


							</div>
					</section>

					<!--
						- #TOPICS
					-->
					<section class="topics" id="topics" aria-labelledby="topic-label">
							<div class="container">
									<div class="card topic-card">
											<div class="card-content">
													<h2 class="headline headline-2 section-title card-title" id="topic-label">
														<span class="span">
															Hot topics
														</span>
													</h2>

													<p class="card-text">
														Don't miss out on the latest news about Travel tips, Hotels review, Food guide...
													</p>

													<div class="btn-group">
														<button class="btn-icon" area-label="previos" data-slider-prev>
																<ion-icon name="arrow-back" aria-hidden="true"></ion-icon>
														</button>

														<button class="btn-icon" area-label="next" data-slider-next>
																<ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
														</button>
													</div>

											</div>

											<div class="slider" data-slider>
												<ul class="slider-list" data-slider-container>

													{% for post in posts %}

														<li class="slider-item">
																<a href="{% url 'blog:post_detail' post.slug %}" class="slider-card">

																		<figure class="slider-banner img-holder" style="--width: 507; --height: 618;">
																				<img src="{{ post.image.url }}" width="507" height="618" loading="lazy" alt="Sport" class="img-cover">
																		</figure>

																		<div class="slider-content">
																				<span class="slider-title">{{ post.title }}</span>
																				<p class="slider-subtitle">
																					38 Articles
																				</p>
																		</div>

																</a>
														</li>
													{% empty %}
														<li>Нет записей</li>
													{% endfor %}

												</ul>
										</div>

									</div>

							</div>
					</section>

					<!--
					 - #FEATURED POST
					-->
					<section class="section feature" area-label="feature" id="featured">
							<div class="container">

									<h2 class="headline headline-2 section-title">
											<span class="span">Editor's picked</span>
									</h2>

									<p class="section-text">
										Featured and highly rated articles
									</p>

									<ul class="feature-list">

										{% for item, tags in featured_items_with_tags %}
												<li>
														<div class="card feature-card">
																<figure class="card-banner img-holder" style="--width: 1602; --height: 903;">
																		<img src="{{ item.image.url }}" width="1602" height="903" loading="lazy" alt="{{ item.title }}" class="img-cover">
																</figure>
																<div class="card-content">
																		<div class="card-wrapper">
																				<div class="card-tag">
																					

																							{% for tag in tags %}
																									<a href="{% url 'blog:tag_posts' tag.id %}" class="span hover-2">#{{ tag.name }}</a>
																							{% endfor %}

																					
																				</div>
																				<div class="wrapper">
																						<ion-icon name="time-outline" aria-hidden="true"></ion-icon>
																						<span class="span">{{ item.reading_time }}</span>
																				</div>
																		</div>
																		<h3 class="headline headline-3">
																				<a href="{{ item.link }}" class="card-title hover-2">{{ item.title }}</a>
																		</h3>
																		<div class="card-wrapper">
																				<div class="profile-card">
																					{% if item and item.author_image %}
																							<img src="{{ item.author_image.url }}" width="48" height="48" loading="lazy" alt="{{ item.author_name }}" class="profile-banner image_banner">
																						{% else %}
																							<img src="{% static "deps\images\Not found image.png" %}" width="48" height="48" alt="" class="profile-banner image_banner">
																					{% endif %}
																						<div>
																							<p class="card-title">{{ item.author_name }}</p>
																							<p class="card-subtitle">{{ item.created_at }}</p>
																					</div>
																			</div>
																			<a href="{{ item.link }}" target="_blank" class="card-btn">Больше</a>
																	</div>
															</div>
													</div>
											</li>
										{% endfor %}

									</ul>

									{% comment %} <a href="#" class="btn btn-secondary">
											<span class="span">Show More Posts</span>

											<ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
									</a> {% endcomment %}

							</div>

							<img src="{% static "deps/images/shadow-3.svg" %}" width="500" height="1500" loading="lazy" alt="" class="feature-bg">


					</section>

					<!--
						- #POPULAR TAGS
					-->
					<section class="tag" aria-labelledby="tag-label">
						<div class="container">
				
								<h2 class="headline headline-2 section-title" id="tag-label">
										<span class="span">Popular Tags</span>
								</h2>
				
								<p class="section-text">
										Most searched keywords
								</p>
				
								<ul class="grid-list">
										{% for tag in popular_tags %}
										<li>
												<button class="card tag-btn">
													{% if tag and tag.image %}
														<img src="{{ tag.image.url }}" width="32" height="32" loading="lazy" alt="{{ tag.name }}">
													{% else %}
														<img src="{% static "deps/images/hero-banner.png" %}" width="32" height="32" alt="">
													{% endif %}
													<a href="{% url 'blog:tag_posts' tag.id %}"><p class="btn-text">{{ tag.name }}</p></a>
												</button>
										</li>
										{% endfor %}
								</ul>
				
						</div>
				</section>

					<!--
						- #RECENT POST
					-->
					<section class="section recent-post" id="recent" aria-labelledby="recent-label" >
						<div class="container">

								<div class="post-main">

										<h2 class="headline headline-2 section-title">
												<span class="span">Recent Post</span>
										</h2>

										<p class="section-text">
											Don't miss the latest trands
										</p>

										<ul class="grid-list">


											{% for recent_post, tags in recent_posts_with_tags %}
											<li>
												<div class="recent-post-card">
													{% if recent_post.image %}
														<figure class="card-banner img-holder" style="--width: 271; --height: 258;">
																<img src="{{ recent_post.image.url }}" width="271" height="258" loading="lazy" alt="{{ recent_post.title }}" class="img-cover">
														</figure>
													{% else %}
														<img src="{% static "deps\images\Not found image.png" %}" width="271" height="258" alt="" class="profile-banner">
													{% endif %}
														<div class="card-content">

																<a href="#" class="card-badge">{{ recent_post.subtitle }}</a>

																<h3 class="headline headline-3 card-title">
																		<a href="{% url 'blog:post_detail' recent_post.slug %}" class="link hover-2">{{ recent_post.title }}</a>
																</h3>

																<p class="card-text">
																	{{ recent_post.content|slice:"200" }}... <!-- срез до 200 символов-->
																</p>

																<div class="card-wrapper">
																	<!-- Теги RecentPost -->
																		<div class="card-tag">
																			{% for tag in recent_post.tags.all %}
																			<a href="{% url 'blog:tag_posts' tag.id %}" class="span hover-2">#{{ tag.name }}</a>
																			{% endfor %}
																		</div>

																		<div class="wrapper">
																				<ion-icon name="time-outline" aria-hidden="true"></ion-icon>

																				<span class="span">{{ recent_post.reading_time }} mins read</span>
																		</div>
																</div>

														</div>

												</div>
											</li>
											{% endfor %}

										</ul>

										<!-- -->


										<nav aria-label="pagination" class="pagination pagination-sm">

												<!-- Кнопка назад -->
												<a href="{% if recent_posts.has_previous %}?page={{ recent_posts.previous_page_number }}#recent
													{% else %}
															#recent
													{% endif %}" class="pagination-btn {% if not recent_posts.has_previous %}disabled{% endif %}" aria-label="previous page">
													<ion-icon name="arrow-back" aria-hidden="true"></ion-icon>
												</a>

													<!-- Логика для 5 кнопок с центральной позицией -->
													{% with left=recent_posts.number|add:'-1' center=recent_posts.number right=recent_posts.number|add:'+1' %}
															{% for page in recent_posts.paginator.page_range %}
																	{% if page == 1 or page == recent_posts.paginator.num_pages %}
																			<!-- Первая и последняя страницы всегда отображаются -->
																			<a href="?page={{ page }}" class="pagination-btn{% if recent_posts.number == page %} active__button {% endif %}">{{ page }}</a>
																	{% elif page >= left and page <= right %}
																			<!-- Показывать диапазон страниц вокруг центральной -->
																			<a href="?page={{ page }}" class="pagination-btn{% if recent_posts.number == page %} active__button {% endif %}">{{ page }}</a>
																	{% elif page == left|add:'-1' or page == right|add:'+1' %}
																			<!-- Добавить "..." для пропущенных частей -->
																			<span class="pagination-btn">...</span>
																	{% endif %}
															{% endfor %}
													{% endwith %}


									
												<!-- Кнопка вперед -->
												<a href="{% if recent_posts.has_next %}?page={{ recent_posts.next_page_number }}#recent
													{% else %}
															#recent
													{% endif %}" 
													class="pagination-btn {% if not recent_posts.has_next %}disabled{% endif %}" aria-label="next page">
														<ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
												</a>

									</nav>



								</div>

								<div class="post-aside grid-list">

										<div class="card aside-card">

												<h3 class="headline headline-2 aside-title">
														<span class="span">Popular Posts</span>
												</h3>

												<ul class="popular-list">
													{% for post in top_5_posts %}
													<li>
															<div class="popular-card">

																	<figure class="card-banner img-holder" style="--width: 64; --height: 64;">
																			<img src="/media/{{ post.image }}" width="64" height="64" loading="lazy" alt="{{ post.title }}" class="img-cover">
																	</figure>

																	<div class="card-content">

																			<h4 class="headline headline-4 card-title">
																					<a href="{% url "blog:post_detail" post.slug %}" class="link hover-2">{{ post.title }}</a>
																			</h4>

																			<div class="wrapper">
																					<p class="card-subtitle">{{ post.reading_time }} mins read</p>

																					<time datetime="" class="puplish-date" datetime="{{ post.created_at|date:"Y-m-d" }}">{{ post.created_at|date:"d M Y" }}</time>
																			</div>

																	</div>

															</div>
													</li>
													{% endfor %}

												</ul>

										</div>

										<div class="card aside-card">
											<h3 class="headline headline-2 aside-title">
													<span class="span">Last comment</span>
											</h3>
									
											<ul class="comment-list">
													{% if latest_comments %}
															{% for comment in latest_comments %}
																	<li>
																			<div class="comment-card">
																					<blockquote class="card-text">
																							“{{ comment.text }}”
																					</blockquote>
									
																					<div class="profile-card">
																							<figure class="profile-banner img-holder">
																									<img src="{% if comment.author_image %}{{ comment.author_image }}{% else %}{% static 'deps/images/default-avatar.png' %}{% endif %}" width="32" height="32" loading="lazy" alt="{{ comment.author }}">
																							</figure>
									
																							<div>
																									<p class="card-title">{{ comment.author }}</p>
																									<time datetime="{{ comment.created_at|date:'Y-m-d' }}" class="card-date">{{ comment.created_at|date:"d F Y" }}</time>
																							</div>
																					</div>
																			</div>
																	</li>
															{% endfor %}
													{% else %}
															<li>Нет комментариев для отображения.</li>
													{% endif %}
											</ul>
									</div>


								</div>

						</div>
					</section>


			</article>
	</main>

	{% block footer %}

	<!--
		- #FOOTER
	-->

	<footer id="contact">
			<div class="container">

					<div class="card footer">

							<div class="section footer-top">

									<div class="footer-brand">

											<a href="{% url "main:index" %}" class="logo">
													<img src="{% static "deps/images/logo.svg" %}" width="119" height="37" loading="lazy" alt="Wren logo">
											</a>

											<p class="footer-text">
													When an unknown prnoto sans took a galley and scrambled it to make specimen book not only five When an unknown prnoto sans took a galley and scrambled it to five centurie.
											</p>

											<p class="footer-list-title">Address</p>

											<address class="footer-text address">
												123 Main Street <br>
												New York, NY 10001
											</address>

									</div>

									<div class="footer-list">

											<p class="footer-list-title">Categories</p>

											<ul>

													<li>
														<a href="#" class="footer-link hover-2">Action</a>
													</li>

													<li>
														<a href="#" class="footer-link hover-2">Bisiness</a>
													</li>

													<li>
														<a href="#" class="footer-link hover-2">Adventure</a>
													</li>

													<li>
														<a href="#" class="footer-link hover-2">Canada</a>
													</li>

													<li>
														<a href="#" class="footer-link hover-2">America</a>
													</li>

													<li>
														<a href="#" class="footer-link hover-2">Curiosity</a>
													</li>

													<li>
														<a href="#" class="footer-link hover-2">Animal</a>
													</li>

													<li>
														<a href="#" class="footer-link hover-2">Dental</a>
													</li>

													<li>
														<a href="#" class="footer-link hover-2">Biology</a>
													</li>

													<li>
														<a href="#" class="footer-link hover-2">Design</a>
													</li>

													<li>
														<a href="#" class="footer-link hover-2">Breakfast</a>
													</li>

													<li>
														<a href="#" class="footer-link hover-2">Dessert</a>
													</li>

											</ul>

									</div>

									<div class="footer-list">

										<form action="" id="contact-form">
											{% csrf_token %}
												<p class="footer-list-title">Contact me</p>

												<p class="footer-text">
														У вас есть вопросы? Напишите мне.
												</p>

												<div class="input-wrapper">
														<input type="text" name="user_name" placeholder="You name" required id="" class="input-field" autocomplete="off">

														<ion-icon name="person-outline" aria-hidden="true"></ion-icon>
												</div>

												<div class="input-wrapper">
														<input type="email" name="user_email" placeholder="Email address" required id="" class="input-field" autocomplete="off">

														<ion-icon name="mail-outline" aria-hidden="true"></ion-icon>
												</div>

												<div class="input-wrapper">
														<input type="tel" name="email_phone" placeholder="You nomber" required id="" class="input-field" autocomplete="off">

														<ion-icon name="phone-portrait-outline" aria-hidden="true"></ion-icon>
												</div>

												<div class="input-wrapper">
													<textarea name="user_message" class="input-field" cols="30" rows="6" placeholder="Сообщение" required ></textarea>
													<div class="ion_mess">
															<ion-icon name="send-outline"></ion-icon>
													</div>
												</div>


												<button type="submit" class="btn btn-primary">
														<span class="span">Отправить</span>

														<ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
												</button>

											</br>

												<p class="contact__message" id="contact-message">Статус отправки</p>
										</form>

									</div>

							</div>

							<div class="footer-bottom">
									<p class="copyright">
											Copyright &copy; <a href="#" class="copyright-link">TonGameApp</a></br><span class="time"></span>
									</p>

									<ul class="social-list">

											<li>
													<a href="#" class="social-link">
														<ion-icon name="logo-twitter"></ion-icon>

														<span class="span">Twitter</span>
													</a>
											</li>

											<li>
													<a href="#" class="social-link">
														<ion-icon name="logo-linkedin"></ion-icon>

														<span class="span">Linkedin</span>
													</a>
											</li>

											<li>
													<a href="#" class="social-link">
														<ion-icon name="logo-instagram"></ion-icon>

														<span class="span">Instagram</span>
													</a>
											</li>

									</ul>
							</div>

					</div>

			</div>
	</footer>
	<script src="{% static "deps/js/script/script-email.js" %}"></script>

	{% endblock footer %}







	<!-- 
		- #BACK TO TOP
	-->
	
	<a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
		<ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
	</a>


	<!--
		- custom js link
	-->
	<script src="{% static "deps/js/script/script-time.js" %}"></script>
	<script src="{% static "deps/js/script/script-blog.js" %}"></script>
	<script src="{% static "deps/js/script/script-mains.js" %}"></script>
	<!-- email js -->

	<!--
		- ionicon link
	-->
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

	<!-- 
	- email js
	-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{% static "deps/js/script/script-email.js" %}"></script>

	<!-- 
	- pagination
	-->
	<script src="{% static "deps/js/script/script-pagination.js" %}"></script>


</body>
</html>

















{% comment %} <html lang="en">
		<head>
				<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, initial-scale=1.0">
				<title>{{ title }}</title>
		</head>
		<body>
			<h1>Записи</h1>
			<ul>
					{% for post in posts %}
							<li>
									<h2>
											<a href="{% url 'blog:post_detail' post.slug %}" target="_blank">{{ post.title }}</a>
									</h2>
							</li>
					{% empty %}
							<li>Нет записей блога.</li>
					{% endfor %}
			</ul>
	</body>
</html> {% endcomment %}