{% load static %}
{% load tz %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--
		- primary meta tags
	-->
	<title>{{ title }}</title>
	<meta name="title" content="{{ title }}">
	<meta name="description" content="{{ description }}">
	<!-- Favicons for different platforms -->
	<link rel="apple-touch-icon" sizes="180x180" href="{% static "deps/favicon/apple-touch-icon.png" %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/favicon-32x32.png" %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static "deps/favicon/favicon-16x16.png" %}">
	<link rel="manifest" href="{% static "deps/favicon/site.webmanifest" %}">

	<!--
		- google font link
	-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>

	<!--
		- custom css link
	-->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="{% static "deps/css/style.css" %}">
	{% comment %} <link rel="stylesheet" href="{% static "deps/css/commerce_style.css" %}"> {% endcomment %}

	<!--
			- preload images
	-->
	<link rel="preload" as="image" href="{% static "deps/images/hero-banner.png" %}">
	<link rel="preload" as="image" href="{% static "deps/images/pattern-2.svg" %}">
	<link rel="preload" as="image" href="{% static "deps/images/pattern-3.svg" %}">


</head>
<body id="top" class="body__log__reg">

	<!--
		- #HEADER
	-->
	<header class="header" data-header>
		<div class="container">

			<a href="{% url "main:index" %}" class="logo">
				<img src="{% static "deps\images\logo.svg" %}" width="119" height="37" alt="TonGameApp">
			</a>

			<nav class="navbar" data-navbar>
				<div class="navbar-top">
					<a href="{% url "main:index" %}" class="logo">
						<img src="{% static "deps\images\logo.svg" %}" width="119" height="37" alt="TonGameApp">
					</a>

					<button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
						<ion-icon name="close-outline" aria-hidden="true"></ion-icon>
					</button>
				</div>
					<ul class="navbar-list">
							<li>
								<a href="{% url "main:index" %}" class="navbar-link hover-1" data-nav-toggler>Главная</a>
							</li>
						{% if not user.is_authenticated %}
								<li>
										<a href="{% url "user:login" %}" class="navbar-link hover-1" data-nav-toggler>Войти</a>
								</li>
						{% else %}
							<li>
								<a href="{% url "user:profile" %}" class="navbar-link hover-1">Мой профиль<i class="ri-arrow-down-s-line"></i></a>
									<ul class="subs__menu lists__blocks">
												<li>
													{% if user.is_admin or user.is_staff %}
															<a href="http://127.0.0.1:8000/admin/">Админ панель</a>
													{% endif %}
												</li>
												{% comment %} <li><a href="{% url "user:profile" %}">Аккаунт</a></li> {% endcomment %}
												<li><a href="{% url "user:logout" %}">Выйти</a></li>
									</ul>
							</li>
						{% endif %}
						
						<li>
							<a href="{% url "blog:post_list" %}" class="navbar-link hover-1" data-nav-toggler>Блог</a>
						</li>

						<li>
							<a href="{% url "main:contact" %}" class="navbar-link hover-1" data-nav-toggler>Контакты</a>
						</li>


						{% comment %} <li>
							<a href="{% url "catalog:index" category_slug='all' %}" class="navbar-link hover-1" data-nav-toggler>Магазин</a>
						</li> {% endcomment %}

						
						<li class="li__search">
							<form class="d__flex_search" role="search" action="{% url "blog:search" %}" method="get">
								<input class="form-control me-2" type="search" name="q" placeholder="Поиск" value="{{ query }}" aria-label="Search">
								<button class="btn btn-primary" type="submit">
									<ion-icon name="search-outline"></ion-icon>
								</button>
							</form>
						</li>

					</ul>


				<div class="navbar-bottom">
					{% if user.is_authenticated %}
					<div class="profile-card">
						{% if user.image %}
								<img src="{{ user.image.url }}" alt="{{ user.username }}" class="profile-banner">
						{% else %}
								<img src="{% static "deps\images\Not found image.png" %}" width="48" height="48" alt="" class="profile-banner image_banner">
						{% endif %}

						<div>
							<p class="card-title">Привет, {{ user.first_name }} {{ user.last_name }}</p>

							<p class="card-subtitile">
								You have 3 new message
							</p>
						</div>
					</div>

					<ul class="link-list">
						<li>
							<a href="{% url "user:profile" %}" class="navbar-bottom-link hover-1">Настройки аккаунта</a>
						</li>

						<li>
							<a href="{% url "user:logout" %}" class="navbar-bottom-link hover-1" style="color: hsla(199, 89%, 49%, 1);">Выйти</a>
						</li>
					</ul>
					{% else %}
					<li>
						<a href="{% url "user:login" %}" class="navbar-link hover-1" data-nav-toggler>Войти</a>
					</li>
				{% endif %}
				</div>

				<p class="copyright-text">Copyright &copy; TonGameApp</br><span class="time"></span></p>
			</nav>

			<a href="https://t.me/GameAppTon_bot" class="btn btn-primary">Subscribe</a>

			<button class="nav-open-btn" area-label="open menu" data-nav-toggler>
				<ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
			</button>
		</div>
	</header>


	<main>
			<article>

					<section class="section">
						
						<div class="card__log__reg footer__log__reg">
									<div class="container__reg__log">
										{% block content %}

										{% endblock content %}

								</div>

						</div>
					</section>


			</article>
	</main>
	<!-- Модальное окно для уведомления о cookies -->
	<div id="cookieModal" class="modals__one">
		<div class="modal__content__one">
				<h2>Мы используем файлы cookie</h2>
				<p>
						для улучшения вашего опыта на нашем сайте. 
						{% comment %} Продолжая использовать сайт, вы соглашаетесь с нашей  {% endcomment %}
						{% comment %} <a href="{% url 'privacy_policy' %}">Политикой конфиденциальности</a>. {% endcomment %}
				</p>
				<div class="button_cookie">
						<button class="btn btn-primary" id="acceptCookies">Принять</button>
				</div>
		</div>
	</div>


	<!--
		- #FOOTER
	-->

{% block footer %}


{% endblock footer %}



	<!-- 
		- #BACK TO TOP
	-->
	
	<a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
		<ion-icon name="arrow-up-outline" aria-hidden="true"></ion-icon>
	</a>


	<!--
		- custom js link
	-->
	<script src="{% static "deps/js/script/log-reg.js" %}"></script>
	<script src="{% static "deps/js/script/script-time.js" %}"></script>
	<script src="{% static "deps/js/script/script-blog.js" %}"></script>
	<script src="{% static "deps/js/script/script-mains.js" %}"></script>
	<script src="{% static "deps/js/script/script-commerce.js" %}"></script>
	<script src="{% static "deps/js/script/password-block.js" %}"></script>
	<script src="{% static "deps/js/script/file-name.js" %}"></script>
	<script src="{% static "deps/js/script/modal.js" %}"></script>

	  
	<!--
		- ionicon link
	-->
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

	<!-- 
	- email js
	-->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="{% static "deps/js/script/script-email.js" %}"></script>

		
</body>
</html>