{% extends "users/base-log-reg.html" %}

{% load static %}


{% block content %}

<div class="form__container__log__reset">
		<div class="login__form__log__reset">
				<form class="form__inputs_log__reset" method="POST">
						{% csrf_token %}
						<div class="inputs__box__reset">
								<legend class="mb-4">Сброс пароля</legend>
								<p>Пожалуйста, введите свой email адрес. Мы вышлем вам инструкцию по сбросу пароля</p>
								
								<div class="form-group">
										{% comment %} <label for="{{ form.email.id_for_label }}">Email:</label> {% endcomment %}
										<input 
												type="email" 
												name="{{ form.email.name }}"
												id="{{ form.email.id_for_label }}"
												class="form_control_reset"
												placeholder="Ваш email"
										>
										{% if form.email.errors %}
												<div class="error-text">{{ form.email.errors }}</div>
										{% endif %}
										<i class="bx bx-envelope icon__log__reset"></i>
								</div>
								
								
						</div>

						<div class="inputs__box__reset">
								<button type="submit" class="btn__submit">
										<span>Запросить сброс пароля</span>
										<i class="bx bx-right-arrow-alt"></i>
								</button>
						</div>
				</form>
		</div>
</div>


{% comment %} <div class="form__container__log__reset">

								<div class="login__form__log__reset">
										<form class="form__inputs_log__reset" method="POST">
											{% csrf_token %}
												<div class="inputs__box">
													<legend class="mb-4"> Сброс пароля </legend>
													<p>Пожалуйста, введите свой email адрес. Мы вышлем вам инстркцию по сбросу пароля</p>
														 {{ form.as_p }}
														<i class="bx bx-user icon__log"></i>
												</div>


												<div class="inputs__box">
														<button type="submit" class="btn__submit">
															<span>Запросить сброс пароля</span>
															<i class="bx bx-right-arrow-alt"></i>
														</button>
												</div>
										</form>
								</div>
	</div> {% endcomment %}

{% endblock content %}