{% extends "users/base-log-reg.html" %}

{% load static %}

{% block content %}

<div class="content-section">
		<form method="POST">
				{% csrf_token %}
				<fieldset class="form-group">
						<legend class="border-bottom mb-4">Установка нового пароля</legend>
						
						<!-- Новый пароль 1 -->
						<div class="form-group mb-3">
								<label for="{{ form.new_password1.id_for_label }}" class="form-label">
										Новый пароль
								</label>
								<div class="inputs__box__reset">
									<input 
											type="password" 
											name="{{ form.new_password1.name }}" 
											id="{{ form.new_password1.id_for_label }}" 
											class="form_control_reset"
											placeholder="Введите новый пароль"
											required
									>
									{% if form.new_password1.help_text %}
											<small class="form-text text-muted">{{ form.new_password1.help_text }}</small>
									{% endif %}
									{% if form.new_password1.errors %}
											<div class="invalid-feedback d-block">
													{{ form.new_password1.errors }}
											</div>
									{% endif %}
									<i class="bx bx-hide show-hide icon__log__confirm__one"></i>
								</div>
						</div>
						
						<!-- Новый пароль 2 -->
						<div class="form-group mb-3">
								<label for="{{ form.new_password2.id_for_label }}" class="form-label">
										Подтверждение пароля
								</label>
								<div class="inputs__box__reset">
									<input 
											type="password" 
											name="{{ form.new_password2.name }}" 
											id="{{ form.new_password2.id_for_label }}" 
											class="form_control_reset"
											placeholder="Повторите новый пароль"
											required
									>
									{% if form.new_password2.errors %}
											<div class="invalid-feedback d-block">
													{{ form.new_password2.errors }}
											</div>
									{% endif %}
									<i class="bx bx-hide show-hide icon__log__confirm"></i>
								</div>
						</div>
				</fieldset>
				
				<div class="form-group">
						<button class="btn btn-primary" type="submit">
								<i class="fas fa-key"></i> Сменить пароль
						</button>
				</div>
		</form>
</div>




	{% comment %} <div class="content-section">
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Установка нового пароля</legend>
				{{ form.as_p }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">Сменить пароль</button>
			</div>
		</form>
	</div> {% endcomment %}
{% endblock content %}