{% extends "users/base-log-reg.html" %}

{% load static %}


{% block content %}
<div class="form__container__log">

								<div class="login__form__log">
										<form class="form__inputs_log" method="POST">
											{% csrf_token %}
												<div class="inputs__box">
													<legend class="mb-4"> Сброс пароля </legend>
													<p>Пожалуйста, введите свой email адрес. Мы вышлем вам инстркцию по сбросу пароля</p>
														 {{ form.as_p }}
														<i class="bx bx-user icon__log"></i>
												</div>


												<div class="inputs__box">
														<button type="submit" class="btn__submit">
															<span>Запросить сброс пароля</span>
															<i class="bx bx-right-arrow-alt"></i>
														</button>
												</div>
										</form>
								</div>
	</div>

{% endblock content %}


{% block footer %}


{% endblock footer %}