{% load i18n %}{% autoescape off %}
{% blocktranslate %}Вы получили это письмо, потому что вы (или кто-то другой) запросили восстановление пароля от учётной записи на сайте {{ domain }}, которая связана с этим адресом электронной почты.{% endblocktranslate %}

{% translate "Пожалуйста, перейдите на эту страницу и введите новый пароль:" %}
{% block reset_link %}
https://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% translate "Ваше имя пользователя (на случай, если вы его забыли):" %} {{ user.get_username }}

{% translate "Спасибо, что используете наш сайт!" %}

{% blocktranslate %}Команда сайта {{ domain }}{% endblocktranslate %}
{% endautoescape %}
